ul {
  list-style-type: none;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

header{
  text-align: center;
  font-size: 13px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a {
  margin: 0 1em;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.container img {
  width: 90%;
  height: 300px;
}
.container {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 0.5em;
  justify-content: flex-end;
}

input {
  margin: 0 1em;
}

button {
  padding: 0.2em 1em;
  border: 0;
  border-radius: 4px;
  font-size: 1.1rem;
  cursor: pointer;
}
/* .sidebar {
  position: fixed;
    float: left;
    width: 13.2%;
    margin-left: -25px;
    top: 50px;
    height: 100%;
    z-index: 99;
    background: none;
} */
/* nav {
  display: flex;
  align-items: center;
  height: 3em;
} */

/* nav a {
  text-decoration: none;
  color: black;
  margin: 0 1em;
  font-weight: bold;
} */